In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../1.Data_collection/krisha.csv')
# Уберем сразу те кватриы которые не имеют url
df = df.dropna(subset=['url'])
df = df.drop_duplicates(subset=['url'])

df.head(5)

,название,цена,Город,Тип дома,Год постройки,Этаж,"Площадь, м²",Состояние,Состояние квартиры,Санузел,...,Кому подойдет квартира,просмотры,Цвет,url,Владелец,×15 просмотров на месяц,×5 просмотров на неделю,В горячих,ТОП объявление,"Срочно, торг"
0,"3-комнатная квартира, 69 м², 9/10 этаж помесяч...",235 000,"Семей, Абайская обл. показать на карте",кирпичный,1992.0,9 из 10,"69 м², жилая — 58 м², Площадь кухни — 9 м²",хорошее,"не новый, но аккуратный и чистый ремонт",разделен,...,"можно с животными, можно с детьми",4358,red,https://krisha.kz/a/show/674852270,Хозяин недвижимости,1,0,0,1,0
1,"4-комнатная квартира, 87 м², 6/9 этаж помесячн...",350 000,"Семей, Абайская обл. показать на карте",NaN,NaN,6 из 9,"87 м², Площадь кухни — 8 м²",NaN,"не новый, но аккуратный и чистый ремонт",разделен,...,"семейной паре, некурящим, можно с детьми",3780,red,https://krisha.kz/a/show/688135881,Хозяин недвижимости,1,0,0,1,0
2,"2-комнатная квартира, 58 м², 9/10 этаж помесяч...",170 000,"Семей, Абайская обл. показать на карте",NaN,NaN,9 из 10,"58 м², жилая — 54 м², Площадь кухни — 8.48 м²",NaN,"не новый, но аккуратный и чистый ремонт",совмещен,...,"семейной паре, некурящим, одному человеку",272,green,https://krisha.kz/a/show/690979621,Хозяин недвижимости,0,1,1,1,0
3,"3-комнатная квартира, 86 м², 1/5 этаж помесячн...",300 000,"Семей, Абайская обл. показать на карте",NaN,NaN,1 из 5,86 м²,NaN,"не новый, но аккуратный и чистый ремонт",совмещен,...,семейной паре,1512,NaN,https://krisha.kz/a/show/678485288,Хозяин недвижимости,0,0,0,1,0
4,"2-комнатная квартира, 44.4 м², 4 этаж помесячн...",130 000,"Семей, Абайская обл. показать на карте",NaN,NaN,4,44.4 м²,NaN,NaN,совмещен,...,"семейной паре, некурящим, одному человеку, мож...",225,NaN,https://krisha.kz/a/show/691164553,Хозяин недвижимости,0,0,0,1,0

Посмотрим и исправим типы наших столбцов

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25350 entries, 0 to 25349
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   название                 25350 non-null  object
 1   цена                     25350 non-null  object
 2   Город                    25350 non-null  object
 3   Тип дома                 1966 non-null   object
 4   Год постройки            2701 non-null   float64
 5   Этаж                     24855 non-null  object
 6   Площадь, м²              25350 non-null  object
 7   Состояние                1985 non-null   object
 8   Состояние квартиры       17691 non-null  object
 9   Санузел                  20768 non-null  object
 10  Балкон                   15810 non-null  object
 11  Балкон остеклён          1507 non-null   object
 12  Дверь                    2094 non-null   object
 13  Парковка                 1357 non-null   object
 14  Квартира меблирована     22478 non-null  object
 15  Пол                      2027 non-null   object
 16  Потолки                  1712 non-null   object
 17  Бывшее общежитие         25261 non-null  object
 18  Мебель                   20951 non-null  object
 19  Удобства                 21268 non-null  object
 20  Ванная комната           20696 non-null  object
 21  Окна                     18742 non-null  object
 22  Лоджия                   10443 non-null  object
 23  Кому подойдет квартира   19514 non-null  object
 24  просмотры                25027 non-null  object
 25  Цвет                     1451 non-null   object
 26  url                      25350 non-null  object
 27  Владелец                 25350 non-null  object
 28  ×15 просмотров на месяц  25350 non-null  int64
 29  ×5 просмотров на неделю  25350 non-null  int64
 30  В горячих                25350 non-null  int64
 31  ТОП объявление           25350 non-null  int64
 32  Срочно, торг             25350 non-null  int64
dtypes: float64(1), int64(5), object(27)
memory usage: 6.6+ MB

Цена

In [4]:
df['цена'].head()

0    235 000
1    350 000
2    170 000
3    300 000
4    130 000
Name: цена, dtype: object

In [5]:
# В цене содержится пробел в виде '/xa0', уберем его
df['цена'] = df['цена'].apply(lambda x: re.sub(r'[^\d]+', '', x)).astype(int)

In [6]:
# Проверим
df['цена'].describe()

count    2.535000e+04
mean     2.639889e+05
std      2.556866e+05
min      1.000000e+04
25%      1.500000e+05
50%      2.000000e+05
75%      3.000000e+05
max      1.400000e+07
Name: цена, dtype: float64

Город

In [7]:
df['Город'].head()

0     Семей, Абайская обл.  показать на карте
1     Семей, Абайская обл.  показать на карте
2     Семей, Абайская обл.  показать на карте
3     Семей, Абайская обл.  показать на карте
4     Семей, Абайская обл.  показать на карте
Name: Город, dtype: object

In [8]:
# В цене содержится лишее 'показать на карте', уберем его
df['Город'] = df['Город'].apply(lambda x: re.sub(r'\s*показать на карте\s*', '', x).strip())

In [9]:
# Проверим
df['Город'].value_counts()

Астана, Есильский р-н                      3405
Алматы, Бостандыкский р-н                  2791
Астана, Алматы р-н                         1690
Алматы, Алмалинский р-н                    1583
Алматы, Ауэзовский р-н                     1408
                                           ...
Новоишимское, Северо-Казахстанская обл.       1
Саумалколь, Северо-Казахстанская обл.         1
Шиели, Кызылординская обл.                    1
Павлодарская обл.                             1
Актау, мкр "Самал"                            1
Name: Город, Length: 175, dtype: int64

Год постройки

In [10]:
df['Год постройки'].describe()

count    2701.000000
mean     2002.715661
std        17.753994
min      1933.000000
25%      1989.000000
50%      2010.000000
75%      2018.000000
max      2025.000000
Name: Год постройки, dtype: float64

Этаж

In [11]:
df['Этаж']

0        9 из 10
1         6 из 9
2        9 из 10
3         1 из 5
4              4
          ...
25345     3 из 6
25346     3 из 9
25347     2 из 3
25348     3 из 5
25349     3 из 5
Name: Этаж, Length: 25350, dtype: object

In [12]:
# посмотрим из скольких из них есть 'из'
df['Этаж'].apply(lambda x: 1 if  'из' in str(x) else 0).value_counts()

1    23513
0     1837
Name: Этаж, dtype: int64

In [13]:
# сделаем две новые колоники "Этаж_факт" и "Этаж из"
df['Этаж_факт'] = df['Этаж'].apply(lambda x:  re.search(r'\b\d+\b', x).group() if 'из' in str(x) else x).astype('float')
df['Этаж из'] = df['Этаж'].apply(lambda x:  re.findall(r'\b\d+\b', x)[1] if 'из' in str(x) else float('nan')).astype('float')

In [14]:
# проверим
df['Этаж_факт'].describe()

count    24855.000000
mean         5.477932
std          3.970863
min          1.000000
25%          3.000000
50%          4.000000
75%          7.000000
max         37.000000
Name: Этаж_факт, dtype: float64

In [15]:
df['Этаж из'].describe()

count    23513.000000
mean         9.238549
std          5.724251
min          1.000000
25%          5.000000
50%          9.000000
75%         12.000000
max        403.000000
Name: Этаж из, dtype: float64

In [16]:
# проверим нет и такого что этаж выше крышы )
any(df['Этаж_факт'] > df['Этаж из'])

False

In [17]:
# отлично, можем убать коноку Этаж
df = df.drop(columns=['Этаж'])

Площадь

In [18]:
df['Площадь, м²']

0           69 м², жилая — 58 м², Площадь кухни — 9 м²
1                          87 м², Площадь кухни — 8 м²
2        58 м², жилая — 54 м², Площадь кухни — 8.48 м²
3                                                86 м²
4                                              44.4 м²
                             ...
25345                      35 м², Площадь кухни — 9 м²
25346                   40 м², Площадь кухни — 11.3 м²
25347                      34 м², Площадь кухни — 7 м²
25348                                            95 м²
25349                      46 м², Площадь кухни — 7 м²
Name: Площадь, м², Length: 25350, dtype: object

In [19]:
# Как мы видим тут много типов площадей, посмотрим сколько именно помимо основной
pattern = r'(?P<key>[\w\s]+)\s*—\s*(?P<value>\d+(\.\d+)?) м²'
set(list(df['Площадь, м²'].str.extractall(pattern)['key']))

{' Площадь кухни ', ' жилая '}

In [20]:
'Возбмем оттуда все ключи'
total_area_pattern = r'(\d+(\.\d+)?) м²'
living_area_pattern = r'жилая — (\d+(\.\d+)?) м²'
kitchen_area_pattern = r'Площадь кухни — (\d+(\.\d+)?) м²'

total_area = df['Площадь, м²'].str.extract(total_area_pattern, expand=True)[0].astype(float)
living_area = df['Площадь, м²'].str.extract(living_area_pattern, expand=True)[0].astype(float)
kitchen_area = df['Площадь, м²'].str.extract(kitchen_area_pattern, expand=True)[0].astype(float)

areas = pd.DataFrame({'Площадь':total_area, 'Площадь жилая':living_area, 'Площадь кухни':kitchen_area})
areas.describe()

           Площадь  Площадь жилая  Площадь кухни
count  25350.00000    2124.000000   12419.000000
mean      59.45363      42.327265      11.434934
std       33.31645      28.134432       8.926715
min        2.00000       1.000000       1.000000
25%       40.10000      25.000000       8.000000
50%       51.90000      36.000000      10.000000
75%       68.00000      50.000000      13.000000
max      999.00000     353.000000     563.000000

In [21]:
# Обьединим в основным датасетом предварительно убрав столбец 'Площадь, м²'
df = df.drop(columns='Площадь, м²')
df = pd.concat([df,areas], axis=1)

In [22]:
# посмотрим не сломалось ли ничего
print(df.head())

                                            название    цена  \
0  3-комнатная квартира, 69 м², 9/10 этаж помесяч...  235000
1  4-комнатная квартира, 87 м², 6/9 этаж помесячн...  350000
2  2-комнатная квартира, 58 м², 9/10 этаж помесяч...  170000
3  3-комнатная квартира, 86 м², 1/5 этаж помесячн...  300000
4  2-комнатная квартира, 44.4 м², 4 этаж помесячн...  130000

                  Город   Тип дома  Год постройки Состояние  \
0  Семей, Абайская обл.  кирпичный         1992.0   хорошее
1  Семей, Абайская обл.        NaN            NaN       NaN
2  Семей, Абайская обл.        NaN            NaN       NaN
3  Семей, Абайская обл.        NaN            NaN       NaN
4  Семей, Абайская обл.        NaN            NaN       NaN

                        Состояние квартиры   Санузел Балкон Балкон остеклён  \
0  не новый, но аккуратный и чистый ремонт  разделен      1              да
1  не новый, но аккуратный и чистый ремонт  разделен      1             NaN
2  не новый, но аккуратный и чистый ремонт  совмещен      1             NaN
3  не новый, но аккуратный и чистый ремонт  совмещен      2             NaN
4                                      NaN  совмещен      1             NaN

   ... ×15 просмотров на месяц ×5 просмотров на неделю В горячих  \
0  ...                       1                       0         0
1  ...                       1                       0         0
2  ...                       0                       1         1
3  ...                       0                       0         0
4  ...                       0                       0         0

  ТОП объявление Срочно, торг Этаж_факт Этаж из Площадь Площадь жилая  \
0              1            0       9.0    10.0    69.0          58.0
1              1            0       6.0     9.0    87.0           NaN
2              1            0       9.0    10.0    58.0          54.0
3              1            0       1.0     5.0    86.0           NaN
4              1            0       4.0     NaN    44.4           NaN

  Площадь кухни
0          9.00
1          8.00
2          8.48
3           NaN
4           NaN

[5 rows x 36 columns]

Просмотры

In [23]:
# почему же он не float?
def try_int(string):
    try:
        string = float(string)
        return 'float'
    except:
        return string

floats_mask = df['просмотры'].apply(try_int)
floats_mask.value_counts()

float                        25347
adverts.show.viewsNbTimes        3
Name: просмотры, dtype: int64

In [24]:
# видимо это те у которых не прогрузились просмотры при парсинге 
# даже через 100 секунд ожидание, их мало и они бесполезны, так что уберем их
df = df[floats_mask == 'float']
df['просмотры'] = df['просмотры'].astype(float)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25347 entries, 0 to 25349
Data columns (total 36 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   название                 25347 non-null  object
 1   цена                     25347 non-null  int64
 2   Город                    25347 non-null  object
 3   Тип дома                 1966 non-null   object
 4   Год постройки            2701 non-null   float64
 5   Состояние                1985 non-null   object
 6   Состояние квартиры       17688 non-null  object
 7   Санузел                  20765 non-null  object
 8   Балкон                   15809 non-null  object
 9   Балкон остеклён          1507 non-null   object
 10  Дверь                    2094 non-null   object
 11  Парковка                 1357 non-null   object
 12  Квартира меблирована     22477 non-null  object
 13  Пол                      2027 non-null   object
 14  Потолки                  1712 non-null   object
 15  Бывшее общежитие         25258 non-null  object
 16  Мебель                   20948 non-null  object
 17  Удобства                 21265 non-null  object
 18  Ванная комната           20693 non-null  object
 19  Окна                     18739 non-null  object
 20  Лоджия                   10441 non-null  object
 21  Кому подойдет квартира   19511 non-null  object
 22  просмотры                25024 non-null  float64
 23  Цвет                     1451 non-null   object
 24  url                      25347 non-null  object
 25  Владелец                 25347 non-null  object
 26  ×15 просмотров на месяц  25347 non-null  int64
 27  ×5 просмотров на неделю  25347 non-null  int64
 28  В горячих                25347 non-null  int64
 29  ТОП объявление           25347 non-null  int64
 30  Срочно, торг             25347 non-null  int64
 31  Этаж_факт                24852 non-null  float64
 32  Этаж из                  23510 non-null  float64
 33  Площадь                  25347 non-null  float64
 34  Площадь жилая            2124 non-null   float64
 35  Площадь кухни            12417 non-null  float64
dtypes: float64(7), int64(6), object(23)
memory usage: 7.2+ MB

In [26]:
# обработку категориальных данных оставим на потом, пока посмотрим 
# финально, закрасим обьявления без цвета серым,
df['Цвет'] = df['Цвет'].fillna('gray')

In [27]:
# посмотрим на датасет перед сохранением
df.describe()

,цена,Год постройки,просмотры,×15 просмотров на месяц,×5 просмотров на неделю,В горячих,ТОП объявление,"Срочно, торг",Этаж_факт,Этаж из,Площадь,Площадь жилая,Площадь кухни
count,2.534700e+04,2701.000000,25024.000000,25347.000000,25347.000000,25347.000000,25347.000000,25347.000000,24852.000000,23510.000000,25347.000000,2124.000000,12417.000000
mean,2.639933e+05,2002.715661,1587.442176,0.035349,0.022133,0.075433,0.104154,0.062177,5.478110,9.238622,59.451593,42.327265,11.434359
std,2.556978e+05,17.753994,5160.481988,0.184665,0.147118,0.264094,0.305467,0.241481,3.970978,5.724447,33.317374,28.134432,8.926994
min,1.000000e+04,1933.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,1.000000,1.000000
25%,1.500000e+05,1989.000000,174.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,5.000000,40.100000,25.000000,8.000000
50%,2.000000e+05,2010.000000,571.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,9.000000,51.900000,36.000000,10.000000
75%,3.000000e+05,2018.000000,1585.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,12.000000,68.000000,50.000000,13.000000
max,1.400000e+07,2025.000000,274140.000000,1.000000,1.000000,1.000000,1.000000,1.000000,37.000000,403.000000,999.000000,353.000000,563.000000

In [28]:
print(df.describe(exclude=[np.number]))

                                                 название  \
count                                               25347
unique                                              24803
top     3-комнатная квартира, 70 м², 5/5 этаж помесячн...
freq                                                    7

                        Город   Тип дома Состояние  \
count                   25347       1966      1985
unique                    175          4         4
top     Астана, Есильский р-н  кирпичный   хорошее
freq                     3405        795      1819

                 Состояние квартиры   Санузел Балкон Балкон остеклён  \
count                         17688     20765  15809            1507
unique                            3         8      7               2
top     свежий ремонт, новая мебель  совмещен      1              да
freq                          10027     13018  10310            1501

                Дверь Парковка  ... Бывшее общежитие  \
count            2094     1357  ...            25258
unique              3        3  ...                2
top     металлическая  паркинг  ...              нет
freq             1672      686  ...            24976

                                                   Мебель  \
count                                               20948
unique                                               1448
top     кровать, обеденный стол, шкаф для одежды, кухо...
freq                                                 4024

                              Удобства Ванная комната     Окна Лоджия  \
count                            21265          20693    18739  10441
unique                            9029              4        4      3
top     стиральная машина, холодильник          ванна  во двор      1
freq                               754          15901     6504   5973

                           Кому подойдет квартира   Цвет  \
count                                       19511  25347
unique                                        223      3
top     семейной паре, некурящим, одному человеку   gray
freq                                         3046  23896

                                       url             Владелец
count                                25347                25347
unique                               25347                    5
top     https://krisha.kz/a/show/674852270  Хозяин недвижимости
freq                                     1                18484

[4 rows x 23 columns]

In [29]:
df.to_csv('krisha_cleaned_1.csv', index=False)